<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Net-Instructor.ro</title>

    <!-- Bootstrap core CSS -->
    <div th:fragment="css">
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet">
        <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link th:href="@{/css/modern-business.css}" rel="stylesheet">
        <link th:href="@{/css/index.css}" rel="stylesheet">
    </div>
</head>
<body style="background-color: #c6cdd2">
<!--{% include "includes/bara_navigare.html" %}-->
<!--{% block content %}-->

<!--{% endblock %}-->
<!--{% include "includes/footer.html" %}-->

<!-- Bootstrap core JavaScript -->
<div th:fragment="script">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!--    <script th:src="@{/js/contact_me.js}"></script>-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/js/jquery.slim.js}"></script>
</div>

</body>

</html>
