<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Net-Instructor</title>
    <!-- Bootstrap core CSS -->
    <div th:replace="base :: css"></div>

</head>
<body style="background-color: #c6cdd2">
<section>
    <div th:replace="header :: navigation-bar">
        header
    </div>
</section>

<div class="container">
    <h1 class="mt-4 mb-3">
        <span sec:authorize="!isAuthenticated()">Contact</span>
        <span sec:authorize="isAuthenticated()">Suport</span>
        <small></small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a th:href="@{/index}">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <span sec:authorize="!isAuthenticated()">Contact</span>
            <span sec:authorize="isAuthenticated()">Suport</span>
            <span>&nbsp; <span>|</span>&nbsp;
                <span th:if="${param.success}" class="bg-transparent text-success">
                    Mesajul dvs a fost trimis cu succes.
                </span>
                <span th:if="${param.fail}" class="bg-transparent text-success">
                    Mesajul nu a fost trimis.
                </span>
            </span>
        </li>
    </ol>

    <div th:if="${param.success}" class="bg-transparent text-alert">
        Mesajul dvs a fost trimis cu succes.
    </div>
    <div th:if="${param.fail}" class="bg-transparent text-alert">
        Mesajul nu a fost trimis.
    </div>
    <br>
    <div class="row">

        <div class="col-lg-8 mb-4" style="height: 400px;">
            <img class="img-fluid rounded" style="max-width:100%; max-height:100%" th:src="@{/img/poligon_moto.jpg}">
        </div>
        <div class="col-lg-4 mb-4">
            <h3>Contact Details</h3>
            <p>
                Calea Dorobantilor 1
                <br>Cluj-Napoca, CJ 400001
                <br>
            </p>
            <p>
                Phone: (123) 456-7890
            </p>
            <p>
                Email :
                <a href="mailto:name@example.com">name@example.com</a>
            </p>
            <p>
                Orar : Luni - Vineri: 9:00 - 17:00
            </p>
        </div>


        <div class="col-lg-8 mb-4" sec:authorize="!isAuthenticated()">
            <h4>Contactati-ne !!</h4><br>
            <h6>In caz ca sunteti interesat de serviciile noastre, lasati un mesaj si va vom contacta in cel mai scurt
                timp!</h6>
        </div>

        <div class="col-lg-8 mb-4" sec:authorize="isAuthenticated()">
            <h4>Raportati probleme !!</h4><br>
            <h6>In cazul descoperirii de disfunctionalitati, folositi formularul de mai jos pentru a ne raporta
                problemele aparute!</h6>
        </div>
        <hr>
        <div class="col-lg-8 mb-4">
            <form th:action="@{/contactMessage}" method="POST">
                <div>
                    <label id="lbl_contact_name" for="nume_prenume">Nume si prenume: </label><br>
                    <input type="text" id="nume_prenume" th:name="contactName"
                           class=" form-control border border-light bg-transparent text-black"
                           placeholder="Nume-Prenume" required>
                    <br>
                    <label id="lbl_contact_email" for="contact_email">Email :</label><br>
                    <input id="contact_email" th:name="contactEmail" type="email"
                           class="form-control border border-light bg-transparent text-black"
                           required
                           placeholder="email@email.ro">
                    <br>
                </div>
                <div>
                    <label id="lbl_contact_msg" for="contact_mesaj">Mesajul dvs.</label><br>
                    <textarea id="contact_mesaj" class="form-control border border-light bg-transparent text-black"
                              th:name="contactMsg" required></textarea>
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary">Trimiteti</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<div th:replace="footer::footer"></div>

<div th:replace="base :: script"></div>

</body>
</html>